<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block all_styles_block %}{% endblock %}
</head>
<body>
    <header>
        <nav class="main_menu">
            <img src="" alt="" class="main_logo">
            <a href="{{ url_for('index') }}" class="main_menu_btn">Страны</a>
            <a href="{{ url_for('capitals') }}" class="main_menu_btn">Столицы</a>
        </nav>
        <div class="user_info">
            {% if user %}
                <p>Добро пожаловать, {{ user.username }}!</p>
                <p id="score">Баллов: {{ user.correct_answers - user.incorrect_answers }}</p>
                <p id="correct_container">Правильных ответов: <span id="correct">{{ user.correct_answers }}</span></p>
                <p id="incorrect_container">Неправильных ответов: <span id="incorrect">{{ user.incorrect_answers }}</span></p>
                <a id="logout_btn" href="{{ url_for('logout') }}">Выйти из аккаунта</a>
            {% endif %}
        </div>


    </header>
    <main>
        {% block main_content %}{% endblock %}
    </main>
    <footer>

    </footer>
    {% block scripts_block %}{% endblock %}
</body>
</html>